.addtask{
    border: 1px dashed grey;
}
/* navbar css */
.bell{
    font-size: 20px;
}

.avatar{
    border-radius: 50%;
}


.btn_add_icon{
    color: white;
    margin-right: 10px;
}

/* end  */

/* heading css  */
.heading{
    padding-bottom: 30px;
}
